body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.container.animate {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 20px;
}

.options {
    text-align: left;
    margin-bottom: 15px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.length-container,
.seed-container {
    margin-bottom: 15px;
}

.result {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#password {
    width: calc(100% - 60px);
    padding: 5px;
}

button {
    background-color: #007bff; /* Warna dasar */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3; /* Warna saat hover */
}

button:focus {
    outline: 3px solid #ffc107; /* Warna outline untuk fokus */
    outline-offset: 2px;
}

button:active {
    background-color: #004080; /* Warna saat aktif */
}

.strength {
    margin-top: 15px;
    font-weight: bold;
}
